.upload{
    text-align: center;

}
.uploadButton{
    display: flex;
    background-color: #4CBB17;
    width: 150px;
    margin:20px auto;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-size: x-large;
    color: white;
    border-radius: 30px;
}
.uploadIcon{
    margin-left: 5px;
}
.submitButton{
    background-color: #007FFF;
    width: 150px;
    margin: auto;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-size: x-large;
    color: white;
    border-radius: 30px;
}
.upload__data{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    /* width: auto; */
    margin:5px auto;
    padding: 5px;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    
    
    
}
.upload__data div{
    margin:0.1em;
  
    
    
}
.upload__data div:first-child{
    width:25%;
    height: 100%;
   
}
.upload__data div:first-child button{
    width:5em;
    height:2em;
    border-radius:1em;
    margin:1em;
    
}
.upload__data div:first-child p{
    display: flex;
    align-items: flex-start;
}
.upload__details{
    background-color:#dcdcdc ;
    padding: 10px;
    border-radius: 10px;
    font-size: medium;
}
.upload__data div:last-child{
    width:75%;
    height: 100%;
    display: flex;
   
    
}
.upload__preview{
    width: 100%;
    
}
.upload__preview div:first-child{
    width: 100%;
    
}
.upload__preview div{
    margin: 0;
}